* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.App {
    width: 100vw;
    height: 100vh;
}
input {
    border: none;
}
input:focus,
textarea:focus {
    outline: none;
}
::-webkit-scrollbar {
    display: none;
}
