.page_pages {
    display: flex;
    width: 100%;
    height: 100%;
}
.page_pages .left_bar {
    width: 180px;
    background-color: #7948ea;
}
.page_pages .main {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #f6f6f6;
}
.page_pages .main .pages {
    flex: 1;
}
